@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    user-select: none;
}
.mainFont{
  font-family: 'Audiowide', cursive;
  font-weight: 600;
}
.secondaryFont {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.mainColor {
  background: linear-gradient(to right, #43BFCE, #FE5694);
  -webkit-background-clip: text;
  color: transparent;
}
.secondaryColor {
  background: linear-gradient(to left, #43BFCE, #FE5694);
  -webkit-background-clip: text;
  color: transparent;
}
/* Nav */
  button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }

  /* End Nav */


  /* Section 1 */
  .section1 {
    padding-top: 1rem;
    padding-bottom: 11rem;
  }

  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .h1_line {
    line-height: 90px;
  }

  .h1_fields{
    margin-bottom: 8px;
    background: linear-gradient(to right, #43BFCE, #FE5694);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Audiowide', cursive;
    font-weight: 600;
  }
  
  .h1_fingertips {
    margin-bottom: 8px;
    background: linear-gradient(to left, #43BFCE, #FE5694);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .p_access {
    font-family: 'Montserrat', sans-serif;
  }

  /* End of Section 1 */

  /* Section 2 */
  .section2 {
    padding-top: 1rem;
  }
  .section2_h1 {
    color: #051728;

    font-weight: 800;
  }
  .section2_whatIs {
    background: linear-gradient(to right, #43BFCE, #FE5694);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  
  /* End of Section 2 */


  @media (min-width: 640px) {
    body {
        width: 100%;
    }
    nav {
        padding: 8px
    }
    nav .text-lg {
        font-size: 0.875rem;
    }
    nav .h-8 {
        height: 1.5rem;
    }
  }
  